// README:
// https://github.com/nf-core/test-datasets/blob/modules/README.md

params {
    // Base directory for test data
    test_data_base = "https://raw.githubusercontent.com/nf-core/test-datasets/modules"

    test_data {
        'sarscov2' {
            'genome' {
                genome_fasta                                   = "${params.test_data_base}/data/genomics/sarscov2/genome/genome.fasta"
                ncbi_taxmap_zip                                = "${params.test_data_base}/data/genomics/sarscov2/genome/db/maltextract/ncbi_taxmap.zip"
                taxon_list_txt                                 = "${params.test_data_base}/data/genomics/sarscov2/genome/db/maltextract/taxon_list.txt"
            }
            'illumina' {
                test_1_fastq_gz                                = "${params.test_data_base}/data/genomics/sarscov2/illumina/fastq/test_1.fastq.gz"
            }
        }
        'homo_sapiens' {
            'illumina' {
                test_genome_vcf                                         = "${params.test_data_base}/data/genomics/homo_sapiens/illumina/gvcf/test.genome.vcf"
            }
        }
    }
}
